Testing Technology/WCF/test13_FaultException/CarService/WebClient/Service References/ServiceCAR/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CarService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CarService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vendor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
  <xs:complexType name="TruckCar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Car">
        <xs:sequence>
          <xs:element minOccurs="0" name="Capasity" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TruckCar" nillable="true" type="tns:TruckCar" />
  <xs:complexType name="PassegerCar">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Car">
        <xs:sequence>
          <xs:element minOccurs="0" name="Passegers" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PassegerCar" nillable="true" type="tns:PassegerCar" />
</xs:schema>