Testing Technology/WCF/test9(Использование MessageContract)/WebClient/Service References/ServiceCAR/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://inclickDomain.com" elementFormDefault="qualified" targetNamespace="http://inclickDomain.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://tempuri.org/" />
  <xs:element name="CarInfoWrapper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://tempuri.org/" minOccurs="0" ref="q1:Id" />
        <xs:element xmlns:q2="http://tempuri.org/" minOccurs="0" ref="q2:Model" />
        <xs:element xmlns:q3="http://tempuri.org/" minOccurs="0" ref="q3:Vendor" />
        <xs:element xmlns:q4="http://tempuri.org/" minOccurs="0" ref="q4:Year" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LicenseKey" nillable="true" type="xs:string" />
</xs:schema>