Testing Technology/WCF/test9(Использование MessageContract)/WebClient/Service References/ServiceCAR/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Id" type="xs:int" />
  <xs:element name="Model" nillable="true" type="xs:string" />
  <xs:element name="Vendor" nillable="true" type="xs:string" />
  <xs:element name="Year" type="xs:int" />
</xs:schema>